main {
    min-height: 82vh;
}

h1 {
    margin: 25px 0;
    text-align: center;
}

h5 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.custom-badge {
    position: absolute;
    left: 0px;
    top: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.custom-badge > * {
    margin: 2px;
    padding: 10px 15px;
    text-transform: lowercase;
    font-size: 1rem;
}
