main {
    min-height: 82vh;
}

h1 {
    margin: 25px 0;
    text-align: center;
}

.custom-badge {
    padding: 0 20px;
    position: absolute;
    left: 0px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
