main {
    min-height: 82vh;
}

h1 {
    margin: 25px 0;
    text-align: center;
}

h5 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

h6 {
    margin-top: 10px;
}

.center-obj {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-15%);
}


.custom-badge {
    position: absolute;
    left: 0px;
    top: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.custom-badge > * {
    margin: 2px;
    padding: 10px 15px;
    text-transform: lowercase;
    font-size: 1rem;
}

.post-image {
    border-radius: 15px;
    width: 35rem;
    height: 30rem;
    margin-top: 50px;
}

.post-detail {
    margin-left: 15px;
}
