main {
    min-height: 82vh;
}

h1,
h2,
h3 {
    margin: 25px 0;
    text-align: center;
}

h4,
h5,
h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px auto;
}

p {
    letter-spacing: 2px;
    padding: 5px auto;
}

.center-obj {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.custom-badge {
    position: absolute;
    left: 0px;
    top: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.post-image {
    border-radius: 15px;
    width: 35rem;
    height: 30rem;
    margin-top: 50px;
}

.post-detail {
    margin-left: 15px;
}
